USE [PeluqueriaDB]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/09/2025 15:35:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[Visible] [bit] NOT NULL,
 CONSTRAINT [PK__Cliente__D59466426ABF7202] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoReserva]    Script Date: 26/09/2025 15:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoReserva](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](50) NOT NULL,
	[Visible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesional]    Script Date: 26/09/2025 15:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesional](
	[IdProfesional] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Especialidad] [nvarchar](150) NULL,
	[Telefono] [varchar](20) NOT NULL,
	[Visible] [bit] NOT NULL,
 CONSTRAINT [PK__Profesio__BC490D0A04629A5E] PRIMARY KEY CLUSTERED 
(
	[IdProfesional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 26/09/2025 15:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdServicio] [int] NOT NULL,
	[IdProfesional] [int] NOT NULL,
	[FechaReserva] [date] NOT NULL,
	[HoraReserva] [time](7) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[Visible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 26/09/2025 15:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[DuracionMinutos] [int] NOT NULL,
	[Visible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Apellido], [FechaRegistro], [Visible]) VALUES (1, N'Juan', N'Pérez', CAST(N'2025-09-26T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Apellido], [FechaRegistro], [Visible]) VALUES (2, N'María', N'González', CAST(N'2025-09-26T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Apellido], [FechaRegistro], [Visible]) VALUES (3, N'Lucas', N'Fernández', CAST(N'2025-09-26T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoReserva] ON 

INSERT [dbo].[EstadoReserva] ([IdEstado], [NombreEstado], [Visible]) VALUES (1, N'Pendiente', 1)
INSERT [dbo].[EstadoReserva] ([IdEstado], [NombreEstado], [Visible]) VALUES (2, N'Ausente', 1)
INSERT [dbo].[EstadoReserva] ([IdEstado], [NombreEstado], [Visible]) VALUES (3, N'Cancelada', 1)
SET IDENTITY_INSERT [dbo].[EstadoReserva] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesional] ON 

INSERT [dbo].[Profesional] ([IdProfesional], [Nombre], [Apellido], [Especialidad], [Telefono], [Visible]) VALUES (1, N'Carolina', N'Gómez', N'Corte de cabello', N'1154872365', 1)
INSERT [dbo].[Profesional] ([IdProfesional], [Nombre], [Apellido], [Especialidad], [Telefono], [Visible]) VALUES (2, N'Marcos', N'Fernández', N'Teñido y coloración', N'1129348756', 1)
INSERT [dbo].[Profesional] ([IdProfesional], [Nombre], [Apellido], [Especialidad], [Telefono], [Visible]) VALUES (3, N'Luciana', N'Pérez', N'Peinados y recogidos', N'1163459821', 1)
SET IDENTITY_INSERT [dbo].[Profesional] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([IdReserva], [IdCliente], [IdServicio], [IdProfesional], [FechaReserva], [HoraReserva], [IdEstado], [FechaCreacion], [Visible]) VALUES (1, 1, 1, 1, CAST(N'2025-10-01' AS Date), CAST(N'10:00:00' AS Time), 4, CAST(N'2025-09-26T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Reserva] ([IdReserva], [IdCliente], [IdServicio], [IdProfesional], [FechaReserva], [HoraReserva], [IdEstado], [FechaCreacion], [Visible]) VALUES (2, 2, 2, 2, CAST(N'2025-10-01' AS Date), CAST(N'14:30:00' AS Time), 3, CAST(N'2025-09-26T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Reserva] ([IdReserva], [IdCliente], [IdServicio], [IdProfesional], [FechaReserva], [HoraReserva], [IdEstado], [FechaCreacion], [Visible]) VALUES (3, 3, 3, 3, CAST(N'2025-10-02' AS Date), CAST(N'09:00:00' AS Time), 1, CAST(N'2025-09-26T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicio] ON 

INSERT [dbo].[Servicio] ([IdServicio], [Nombre], [Descripcion], [DuracionMinutos], [Visible]) VALUES (1, N'Corte de cabello', N'Corte clásico', 30, 1)
INSERT [dbo].[Servicio] ([IdServicio], [Nombre], [Descripcion], [DuracionMinutos], [Visible]) VALUES (2, N'Teñido y coloración', N'Aplicación de tinte', 90, 1)
INSERT [dbo].[Servicio] ([IdServicio], [Nombre], [Descripcion], [DuracionMinutos], [Visible]) VALUES (3, N'Peinados y recogidos', N'Estilos para eventos', 45, 1)
SET IDENTITY_INSERT [dbo].[Servicio] OFF
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF__Cliente__FechaRe__37A5467C]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[EstadoReserva] ADD  CONSTRAINT [DF_EstadoReserva_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[Profesional] ADD  CONSTRAINT [DF_Profesional_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT ((1)) FOR [IdEstado]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF_Reserva_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[Servicio] ADD  CONSTRAINT [DF_Servicio_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadoReserva] ([IdEstado])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Estado]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Profesional] FOREIGN KEY([IdProfesional])
REFERENCES [dbo].[Profesional] ([IdProfesional])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Profesional]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Servicio]
GO
